body
{
    background-color: rgb(0, 0, 0);
    background-image: url('pics/space.png');
    text-align: center;
}

p
{
    color: rgb(255, 255, 255);
    text-shadow: -2px 1px rgba(68, 206, 176, 0.726);
    font-size: 23px;
    margin: 10px;
}

b
{
    color: aliceblue;
    text-shadow: -1px -1px purple;
    font-size: 30px;
}

th
{
    font-size: 20px;
    text-shadow: -1px .5px rgb(135, 26, 133);
    margin-top: 50px;
}

a:hover
{
    color: rgb(221, 84, 214);
    text-decoration-style:wavy;
    cursor: help;
}

.copyrightText
{
    font-size: 17px;
    color: rgba(72, 177, 171, 0.795);
    text-shadow: none;
}

.boardstextTitle
{
    font-size: 25px;

    color: rgb(13, 172, 172);
    text-shadow: -1px .5px rgb(135, 26, 133);
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 5px;

    display: inline-block;
    

    text-decoration-line: wavy;
}

.boardsimgContent
{
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

.center
{
    margin-right: auto;
    margin-left: auto;
}

.servicesText
{
    font-size: 25px;
    color: rgb(119, 158, 230); 
    text-shadow: -2px .5px rgb(76, 34, 131);
}

.orderedListText
{
    color: rgb(103, 228, 151);
}

.projectsBar
{
    width: 100%;
    overflow: auto;
    background-color: rgba(105, 28, 100, 0.882);
}

.projectsBar :hover
{
    background-color: rgb(202, 67, 204);
}

#boardsTitle
{
    color: aqua;
}

#jaxxlogo
{
    width: 250px;
    height: 120px;

    margin-top: 25px;
    margin-bottom: 25px;
}

#planetlogo
{
    width: 200px;
    height: 200px;
}

#boardLogo
{
    width: 125px;
    height: 45px;

    margin-top: 40px;
    margin-bottom: 22px;
}

#servicesOrderedList
{
    display: inline-block;
    text-align: center;
    font-size: 22px;
}

#contactDescription
{
    font-size: 25px;
    color: rgb(229, 8, 185);
}