body
{
    background-color: black;
    background-image: url('pics/space.png');
    text-align: center;
}

p
{
    color: rgba(37, 160, 154, 0.726);
    text-shadow: -1px 1px plum;
    font-size: 23px;
    margin: 10px;
}

th
{
    font-size: 20px;
    text-shadow: -1px .5px rgb(135, 26, 133);
    margin-top: 50px;
}

a:hover
{
    color: rgb(221, 84, 214);
    text-decoration-style:wavy;
    cursor: help;
}

.copyrightText
{
    font-size: 17px;
    color: rgba(72, 177, 171, 0.795);
    text-shadow: none;
}

.boardstextTitle
{
    font-size: 25px;

    color: rgb(13, 172, 172);
    text-shadow: -1px .5px rgb(135, 26, 133);
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 5px;

    display: inline-block;
    

    text-decoration-line: wavy;
}

.boardstextContent
{
    font-size: 23px;

    color: rgb(103, 228, 151);
    text-shadow: -1px .5px rgb(135, 26, 133);
    margin-right: 6%;
    margin-left: 8%;

    display: inline-block;
    

    text-decoration-line: wavy;
}

.boardsimgContent
{
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

.center
{
    margin-right: auto;
    margin-left: auto;
}

#boardsTitle
{
    color: aqua;
}

#jaxxlogo
{
    width: 250px;
    height: 120px;

    margin-top: 25px;
    margin-bottom: 25px;
}

#planetlogo
{
    width: 200px;
    height: 200px;
}

#boardLogo
{
    width: 125px;
    height: 45px;

    margin-top: 40px;
    margin-bottom: 22px;
}